<%= simple_form_for [ @dress, @booking ] do |f| %>
  <p><strong>Rent this dress from <%= @dress.user.first_name %>:</strong></p>

  <div class="form-inputs">
    <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
  </div>

  <p>Total cost: </p>
  <p><%= 'PRICE CALCULATION TBD' %></p>

  <div class="form-actions">
    <%= f.submit "Confirm Booking", class: "btn btn-primary" %>
  </div>
<% end %>
