<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1 class="bookings-heading">My Bookings</h1>

      <% @bookings.each do |booking| %>
        <div class="bookings-card">
          <% if booking.dress.image.attached? %>
            <%= cl_image_tag booking.dress.image.key, class: "dress-image" %>
          <% else %>
               <%= image_tag booking.dress.photo %>
          <% end %>

          <div class="bookings-card-info">
            <h2>
              <%= link_to "#{booking.dress.title.capitalize}", dresses_path(booking.dress) %>
            </h2>
            <p>
              From <%= booking.user.first_name.capitalize %> <%= booking.user.last_name.capitalize %> |
              <% startdate = booking.start_date %>
              <% enddate = booking.end_date %>
              <% inclusive_days_in_range = (startdate .. enddate).count %>
              Rented for: <%= inclusive_days_in_range %> days |
              <% price = booking.dress.price %>
              <% totalprice = inclusive_days_in_range * price %>
              <strong>Total price:</strong> <%= totalprice.round(2) %>€
            </p>
          </div>
        </div>
      <% end %>
      <%= link_to 'All dresses', dresses_path, class: "show-all" %> |
      <%= link_to 'My dresses', mydresses_dresses_path, class: "show-all" %>
    </div>
  </div>
</div>

