<div class="navbar">
  <%= link_to "Dress up!", root_path, class: "btn-logo" %>
  <div class="btn-left">
    <% if current_user %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <%= link_to "My dresses", mydresses_dresses_path %>
      <%= link_to "My Bookings", bookings_path %>
      <%= cl_image_tag current_user.avatar.key, class: "avatar" %>
    <% else %>
      <%= link_to "Log In", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
  </div>
</div>
