<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1551890946-3e5446d3a71b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <h1>Discover stunning dresses for any occasion</h1>
    <div>

      <%= form_tag dresses_path, class: "search", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          id: "address-input",
          class: "form-control",
          placeholder: "Look for anything!"
        %>
        <%= submit_tag "Find now", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>

<!-- Browse selected dresses  -->
<div class="container">
 <div class="main-content">
  <div class="home-top">
    <h3>Bridal Dresses</h3>
    <%= link_to "Discover more", dresses_path, class: "btn-primary-small"  %>
  </div>

  <div class="cards">
      <% @dresses = Dress.where(category: 'Bridal Dresses').limit(3) %>
      <% @dresses.each do |dress| %>

    <%= link_to dress_path(dress), class: "dress" do %>
        <div class="card-dress-home">
          <% if dress.image.attached? %>
            <%= cl_image_tag dress.image.key, class: "card-dress-image" %>
          <% else %>
             <%= image_tag dress.photo, class: "card-dress-image" %>
          <% end %>
          <div class="card-dress-infos">
            <div>
              <h2><%= dress.title%></h2>
              <p><%= dress.price %>€ / day</p>
            </div>
           </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
 <div class="main-content">
  <div class="home-top">
    <h3>Going Out Dresses</h3>
    <%= link_to "Discover more", dresses_path, class: "btn-primary-small"  %>
  </div>

  <div class="cards">
      <% @dresses = Dress.where(category: 'Going Out Dresses').limit(3) %>
      <% @dresses.each do |dress| %>

    <%= link_to dress_path(dress), class: "dress" do %>
        <div class="card-dress-home">
          <% if dress.image.attached? %>
            <%= cl_image_tag dress.image.key, class: "card-dress-image" %>
          <% else %>
             <%= image_tag dress.photo, class: "card-dress-image" %>
          <% end %>
          <div class="card-dress-infos">
            <div>
              <h2><%= dress.title%></h2>
              <p><%= dress.price %>€ / day</p>
            </div>
           </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
 <div class="main-content">
  <div class="home-top">
    <h3>Summer Dresses</h3>
    <%= link_to "Discover more", dresses_path, class: "btn-primary-small"  %>
  </div>

  <div class="cards">
      <% @dresses = Dress.where(category: 'Summer Dresses').limit(3) %>
      <% @dresses.each do |dress| %>

    <%= link_to dress_path(dress), class: "dress" do %>
        <div class="card-dress-home">
          <% if dress.image.attached? %>
            <%= cl_image_tag dress.image.key, class: "card-dress-image" %>
          <% else %>
             <%= image_tag dress.photo, class: "card-dress-image" %>
          <% end %>
          <div class="card-dress-infos">
            <div>
              <h2><%= dress.title%></h2>
              <p><%= dress.price %>€ / day</p>
            </div>
           </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
