<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1551890946-3e5446d3a71b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <h1>Discover stunning dresses for any occasion</h1>
    <div class="search">
      <input type="text" name="address" id="address-input" placeholder="Enter an address" class="form-control">
      <input type="submit" value="Find now" class="btn btn-primary">
    </div>
  </div>
</div>

<!-- Browse selected dresses  -->
<div class="container">
  <div class="top home">
    <h2>Casual dresses</h2>
  </div>

  <div class="main-content">
    <div class="cards">
      <% @dresses.where(category: "Casual Dresses").limit(3) do |dress| %>

      <%= link_to dress_path(dress), class: "dress" do %>
          <div class="card-dress">
            <% if dress.image.attached? %>
              <%= cl_image_tag dress.image.key, class: "card-dress-image" %>
            <% else %>
              <%= image_tag dress.photo, class: "card-dress-image" %>
            <% end %>
            <div class="card-dress-infos">
              <div>
                <h2><%= dress.title%></h2>
                <p><%= dress.price %>€ / day</p>
              </div>
            </div>
          </div>
        <% end %>
    <% end %>
    </div>
  </div>
  <%= link_to "Discover more", dresses_path, class: "btn-primary-small"  %>
</div>



<!-- Code Ammy  -->

<!-- <div class=" container container-home">
  <div class="header-center">
    <div class="center">
      <h2>Welcome to our page!</h2>
      <div class="search-input">de
        <div class="search-form">
          <label for="address-input">Insert your address:</label><br>
          <input type="text" name="address" id="address-input">
          <input type="submit" value="search" class="btn-primary-small">
        </div>
        <%= link_to "See all dresses", dresses_path, class: "btn-primary-small"  %>
      </div>
    </div>
  </div>
  <div class="img-home">
  </div>
</div> -->
