<%= simple_form_for @dress do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :category, collection: Dress::CATEGORIES %>
    <%= f.input :color %>
    <%= f.input :address %>
    <%= f.input :price %>
    <%= f.input :image, as: :file, required: true, included_blank: false %>
  </div>

  <div class="form-actions">
     <%= f.submit "Add dress", class: "btn btn-primary" %>
  </div>
<% end %>

