<div class="container">
  <!-- Search bar -->
  <div class="top">
    <%= form_tag dresses_path, class: "search", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          id: "address-input",
          class: "form-control",
          placeholder: "Look for anything!"
        %>
        <%= submit_tag "Find now", class: "btn btn-primary-small" %>
      <% end %>

    <%= link_to "add a dress", new_dress_path, class: "btn btn-primary add" %>
  </div>

  <div class="cards-map">
    <div class="row justify-content-center">

      <div class="col-sm-12 col-md-7 col-lg-7">
        <!-- Featured categories -->
        <div class="main-content">
          <div class="cards">
            <% @dresses.each do |dress| %>

            <%= link_to dress_path(dress), class: "dress" do %>
                <div class="card-dress">
                  <% if dress.image.attached? %>
                    <%= cl_image_tag dress.image.key, class: "card-dress-image" %>
                  <% else %>
                    <%= image_tag dress.photo, class: "card-dress-image" %>
                  <% end %>
                  <div class="card-dress-infos">
                    <div>
                      <h2><%= dress.title.capitalize%></h2>
                      <p><%= dress.price %>€ / day</p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-sm-0 col-md-5 col-lg-5">

        <!-- Map -->
        <div id="map"
           style="width: auto; height: 450px;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

  </div>
</div>
