<div class="container">
  <div class="row justify-content-center">
    <!-- image -->
    <div class="col-5">
      <div class="show-content">
        <% if @dress.image.attached? %>
          <%= cl_image_tag @dress.image.key, class: "dress-image-show" %>
        <% else %>
          <%= image_tag @dress.photo, class: "dress-image-show" %>
        <% end %>
        <%= link_to '👈 Back to all dresses', dresses_path, class: "link-back" %>
      </div>
    </div>

    <!-- info / booking-->
    <div class="col-4">
      <div class="show-content">
        <div>
          <h1><%= @dress.title.capitalize %></h1>
          <p class="price"><%= @dress.price %> € / day</p>
        </div>
        <div>
          <p class="details"><%= @dress.category %> | <%= @dress.color %></p>
          <p class="description"><%= @dress.description.capitalize %></p>
        </div>
        <!-- destroy -->
        <div>
          <% if current_user == @dress.user %>
            <%= link_to dress_path(@dress), method: :delete, data: { confirm: "Are you sure you want to delete #{@dress.title}?"} do %>
              <i class="fas fa-trash"></i>
            <% end %>
          <% end %>
        </div>
        <div class="form-booking">
          <!-- form -->
          <% if current_user != @dress.user %>
            <%= render 'bookings/form', booking: @booking %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
