<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <% if @dress.image.attached? %>
        <%= cl_image_tag @dress.image.key, width: 400, height: 300, crop: :fill, class: "dress-image" %>
      <% else %>
        <%= image_tag @dress.photo %>
      <% end %>
      <h1><%= @dress.title %></h1>
      <p><strong>Rented from:</strong> <%= @dress.user.first_name %></p>
      <p><strong>Category:</strong> <%= @dress.category %> |
      <strong>Color:</strong> <%= @dress.color %></p>
      <p><%= @dress.description %></p>
      <p><strong>Price:</strong> <%= @dress.price %> / day</p>
      <% if current_user == @dress.user %>
        <%= link_to dress_path(@dress), method: :delete, data: { confirm: "Are you sure you want to delete #{@dress.title}?"} do %>
          <i class="fas fa-trash"></i>
        <% end %>
      <% end %>
      <br>
      <br>
      <% if current_user != @dress.user %>
        <%= render 'bookings/form', booking: @booking %>
      <% end %>
      <br>
      <br>
      <%= link_to '👈 Back to all dresses', dresses_path %>
    </div>
  </div>
</div>
