<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <% if @dress.image.attached? %>
        <%= cl_image_tag @dress.image.key, width: 400, height: 300, crop: :fill, class: "dress-image" %>
      <% else %>
        <%= image_tag @dress.photo %>
      <% end %>
      <h1><%= @dress.title %></h1>
      <p><%= @dress.description %></p>
      <p>category: <%= @dress.category %></p>
      <p>color: <%= @dress.color %></p>
      <p>price: <%= @dress.price %></p>
      <%= link_to dress_path(@dress), method: :delete, data: { confirm: "Are you sure you want to delete #{@dress.title}?"} do %>
        <i class="fas fa-trash"></i>
      <% end %>
      <br>
      <br>
      <p><strong>Rent this dress from <%= @dress.user.first_name %>:</strong></p>
      <%= render './bookings/form', booking: @booking %>
      <br>
      <br>
      <%= link_to '👈 Back to all dresses', dresses_path %>
    </div>
  </div>
</div>
